html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

#root {
  margin: 0px;
  padding: 0px;
}

.desktopContent {
  position: absolute;
  margin: 0px;
  padding: 0px;

  height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(117deg, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#000000',GradientType=1 );
  background-image: url('./background-dark-01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.kmonitor {
  
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.scrim {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #403f3fb8;
  /*z-index: 10000;*/
  padding: 0px;
  margin: 0px;
  visibility: hidden;
}

.scrim_visible {
  visibility: visible !important;
}
